@using CinemaTicketBooking.Models.Entities;
@model IEnumerable<Cinema>

<main class="table-container">
    <table>
        <thead>
            <tr>
                <th>Cinema logo</th>
                <th>Name</th>
                <th colspan="2">Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Cinema cinema in Model)
            {
                <tr>
                    <td class="cinema-logo"><img src="/images/@cinema.Picture?.UniqueName" alt="@cinema.Name"></td>
                    <td class="name">@cinema.Name</td>
                    <td class="desc">@cinema.Description</td>
                    <td><a class="edit cinema-nav" href="UpdateCinemaForm/@cinema.Id"><i class="fa-solid fa-pen-to-square"></i> Edit</a> | <a class="delete cinema-nav" href=""><i class="fa-solid fa-trash-can"></i> Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</main>
<script>
    const cinemaImages = document.querySelectorAll("td img");
    for (const image of cinemaImages) {
        const width = image.offsetWidth;
        console.log(width);
        image.style.height = width + "px";
        console.log(image.style.height);
    }
</script>
