
a {
    text-decoration: none;
}

content {
    flex-grow: 1;
}

.item-title {
    margin-left: 20%;
}

.item-info {
    width: 40%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

.item-info img {
    width: 25%;
    margin: auto;
    border-radius: 50%;
}

.long {
    display: inline-block;
    width: 35%;
}

.item-info .movie-info {
    margin-bottom: 10px;
}