
.movie-details {
    width: 70%;
    margin: 0.5% auto;
    flex-grow: 1;
}

article img {
    max-height: 466px;
}

article ul {
    display: flex;
    gap: 5%;
    height: 30%;
    padding: 0px;
    margin: 0px;
}

article li {
    list-style: none;
    flex-basis: 25%;
}

li img {
    border-radius: 50%;
}

li figure {
    margin: 0px;
}

figcaption {
    text-align: center;
    font-weight: bold;
    color: #4e79b5;
}